<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Missions</title>
</head>
<body>
    <h1>Show Mission</h1>

    <h4><strong></strong>Name:</strong> <%= mission.name %></h4>
    <p><strong>Launch Date:</strong> <%= mission.launchDate %></p>
    <p><strong>Operator:</strong> <%= mission.operator %></p>
    <p><strong>Mission Type:</strong> <%= mission.missionType %></p>
    <img src="<%= mission.img %>" />

</body>
</html>